  <% if type == :new %>
    <% action_url = cats_url %>
    <% button_text = 'Create Cat' %>
  <% elsif type == :edit %>
    <% action_url = cat_url(cat) %>
    <% button_text = 'Update Cat' %>
  <%end%>


<form action="<%= action_url %>" method="post">
  <% if type == :edit %>
    <input type="hidden" name="_method" value="patch">
  <%end%>
  <label for="name">Name:
    <input type="text" id="name" name="cat[name]" value="<%= cat.name %>">
  </label>
  <br>
  <label for="birth_date">Birth date:
    <input type="date" id="birth_date" name="cat[birth_date]" value="<%= cat.birth_date %>">
  </label>
  <br>
  <label for="color">Color:
  <select name="cat[color]">
    <option disabled selected>-- Please Select --</option>
    <option value="brown" <%= cat.color == "brown" ? "selected" : "" %> > <%= Cat.cat_colors[0] %> </option>
    <option value="orange" <%= cat.color == "orange" ? "selected" : "" %> > <%= Cat.cat_colors[1] %> </option>
    <option value="grey" <%= cat.color == "grey" ? "selected" : "" %>> <%= Cat.cat_colors[2] %> </option>
    <option value="black" <%= cat.color == "black" ? "selected" : "" %> > <%= Cat.cat_colors[3] %> </option>
    <option value="white" <%= cat.color == "white" ? "selected" : "" %> > <%= Cat.cat_colors[4] %> </option>
  </select>
  </label>
  <br>
  <label for="sex">Sex:
    <input type="radio" id="sex" name="cat[sex]" value="M" <%= cat.sex == "M" ? "checked" : "" %> >Male
    <input type="radio" id="sex" name="cat[sex]" value="F" <%= cat.sex == "F" ? "checked" : "" %> >Female
  </label>
  <br>
  <label for="description">Description:
    <textarea id="description" name="cat[description]" ><%= cat.description %></textarea>
  </label>
  <br>
  <input type="submit" value=<%= button_text %>>
</form>